/* grid class styling, 40 x 10px height dimensions */
/* display: flex -- so squares appear in-line */
/* flex-wrap -- so divs wrap around eachother like a snake. */
.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
}

/* styling any div that goes inside our grid, div with class of grid */
/* saying only want to style divs inside our grid div.  */
.grid div {
  height: 40px;
  width: 40px;
}

/* selecting all the squarees in the shuffledArray with className of 'bomb' */
.bomb {
  background-color: orange;
}

/* testing how the .classList.add line works by giving the valid squares a color of blue */
.valid {
  background-color: blue;
}
